/* CSS declarations go here */
@import '../imports/auth.scss'; // authenticated css code
@import '../imports/admin/client/main.scss'; // admin css code
@import '../imports/student/client/main.scss'; // student css code

.networkStatus{
	position:absolute;
	top:70px;
	z-index:100;
	right:2%;
	p{
		padding:5px;
		font-weight:bold;
		font-size:14px;	
	}
}
#smsLoading{
    position:fixed;
    width:100%;
    min-height:100vh;
    top:0%;
    right:0%;
    padding:10% 25%;
    z-index:99;
    text-align:center;
    background-color:rgba(0,0,0,0.2);
    div{
        padding:4em;
    }
}
footer{
    background-color:#abcdef;
    margin-bottom:1em;
    a{
        text-decoration: none;
        color:#fff;
        font-weight: bold;
    }
    a:hover{
        text-decoration: none;
    }
}
