/* CSS declarations go here */
@import '../imports/auth.scss'; // authenticated css code
#login{
    background:linear-gradient(to top right,rgb(14,33,56), #cc3333);
    // background:rgb(14,33,56);
    min-height:100vh;
    h6{
        margin: 10px;
    }
    div.form-container{
        margin: 10px 20px;
        padding:20px;
        background-color:#fff;
    }
    .logged-in button{
        margin: 5px; 
    }
}
.networkStatus{
	position:fixed;
	top:50px;
	z-index:100;
	right:7%;
	p{
        padding:2px;
		font-size:10px;	
	   button,span{
        font-size: 10px;
        padding:1px;
       }
    }
}
#smsLoading{
    position:fixed;
    width:100%;
    min-height:100vh;
    top:0%;
    right:0%;
    // transform: translate(50%,50%);
    padding:10% 25%;
    z-index:20;
    text-align:center;
    background-color:rgba(0,0,0,0.2);
    div{
        padding:4em;
       
    }
}
