body{

}

#staffDashboard{
	div{
		min-height: 200px;
		margin-top: 1em;
		box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
	}
	.sms-offset-1{
		margin-left:4.16667%;
	}	
}

button#uploadBtn{
	display: none;
}
#uploadPreview{
	max-width: 250px;
	max-height: 310px;
}

table{
	margin: 5px;
	border-collapse: collapse;

	tr{
		border: 1px solid grey;
	}
	tr:nth-child(even){
		background-color: #def;
	}
	tr:hover{
		background-color: #eee;
		cursor: pointer;
	}

	th{
		text-align: center;
		border: 1px solid grey;
		font-size: 1em;

	}

	td{
		padding: 5px;
		border: 1px solid black;
		white-space: nowrap;

		img{
			max-width: 100px;
			max-height: 100px;
			border: 1px solid black;
			border-radius: 2px;
			padding: 2px;
		} 
	}
}

#Profile, #singleStudent, #singleStaff{
	table{
		caption{
			font-size: 2em;
			font-weight: bold;
		}
		tr,td{
			padding: 3px;
			border: 1px solid black;

		}
		td:first-child{
			font-weight: bold;
		}
	}
}

table.serial {
    counter-reset: rowNumber;
    
    tr:not(:first-child) {
    	counter-increment: rowNumber;
		
		td:first-child::before {
    		content: counter(rowNumber);
			}

	}

	
}


.setting{
	.setting-row{
		margin: 1em 0;
		border-radius: 3px;
		padding: 5px;
		border: 1px dashed black;

		h4{
			background-color: #eee;
			padding: 5px;
		}
	}
}

.assignmentList{
	.badge{
		background-color: #ddd;
		color: black;
	}
	div{
		span{
		
		padding: 4px;
		margin: 3px;
		display: inline-block;
		cursor: pointer;
	}
		span:hover{
			background-color: #eee;
		}
	}
	
}


.assignment{
	border-bottom: 1px inset #eeeeee;
	h3{
		text-transform: uppercase;
	}
	

	article{
		padding: 1em;
		border: 1px solid #dddddd;
		p{
			font-size: 1.2em;
			font-family: calbri, tahoma;
		}

		span{
			background-color: #ddd;
			padding: 3px;
			margin: 3px;
			display: inline-block;
			cursor: pointer;
		}
		span:hover{
			background-color: #eee;
		}
		.answer{
			p, span{
				margin-left: 2em;
			}
		}
	}
}

.inbox table.inboxMsg, .sent table.sentMsg{
	border-collapse: collapse;
	th{
		border: none;
	}
	tr, td{
		border: none;
		border-bottom: 1px solid #ddd;
		text-align: left;
	}
	tr{
		background-color: #fff;
	}
	tr:hover{
		background-color: #eee;
	}
	td{
		padding-right: 10px;
	}
}
