/* Sass Declaration */

$desktop-width: 800px;
$tablet-width: 640px;
$mobile-width: 320px;


$nav-text: white;
$nav-li-bg: #00388c;
$nav-bg: #3f5e8c;
$nav-font: serif;

//body

body{
	background-image: url(http://localhost:3000/bg.png);
	font-size: 14px !important;
	line-height: 24px !important;
	height: 100%;
}



//app logo
#header{
	width: inherit;
	position: fixed;
	background-color: #df421e;
	background-color: rgba(223, 66, 30, 0.9); //#df421e
	color: white;
	z-index: 999;
	.row{
		.logo{
			max-width: 70px;
			padding: 5px;
			img{
				border-radius: 5px;
			}
		}
	}
}


#contact-form{
	.red{
	    color:red;
	   }
	.form-area{
	    background-color: #fafafa;
		padding: 10px 40px 60px;
		margin: 10px 0px 60px;
		border: 1px solid grey;
	}
}

footer{
	min-height: 50px;
	width: 100%;
	position: relative;
	background-color: #003366;
	background-color: rgba(0, 51, 102, 0.9); //#003366

}

#notFound{
	.error-template {padding: 40px 15px;text-align: center;}
	.error-actions {margin-top:15px;margin-bottom:15px;}
	.error-actions .btn { margin-right:10px; }
}

.center-block {
  display: block;
  margin: 0 25%;

}