
//navigation for Logged in users
$auth-nav: #4e4442;
$auth-nav-icon: #283c59;
$topnav-bg: #df421e;

#dashboard {
    padding-left: 0; 
    margin-top: 50px;   
}
#mainContent {
    width: 100%;        
    padding-top: 50px;
    background-color: #f5f5f5;
}
@media(min-width:768px) {
    #dashboard {
        padding-left: 225px;
    }

    #mainContent {
        padding: 22px 10px;
    }
}
.navbar-fixed-top{
    background-color: $topnav-bg;
    
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: $topnav-bg !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;    
}



.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

footer{
    background-color:#abc;
    a{
        text-decoration: none;
        color:#fff;
        font-weight: bold;

    }
    a:hover{
        text-decoration: none;
    }
}

.insertNotice{
    position: fixed;
    color: white;
    background-color: #000;
    padding: 10px;
    z-index: 999;
    border-radius-left: 4px; 
    font-size: 18px;
    display: none;
    bottom: 10px;
    right: 0;
    opacity: 0.8;
}

#smsLoading{
    position:fixed;
    width:100%;
    min-height:100vh;
    top:0%;
    right:0%;
    padding:10% 25%;
    z-index:9999;
    text-align:center;
    background-color:rgba(0,0,0,0.2);
    div{
        padding:4em;
    }
}